html,
body {
    padding-top: 30px;
    height: 100%;
    width: 100%
}

hr {
    max-width: 50px;
    border: #FF0000;
    border-width: 5px;
}

hr.lihgt {
    border-color: #ff0000;
}

a {
    color: #ff0000
}

a:hover,
a:focus {
    color: white;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

.bg-primary {
    background-color: #1B1B1B;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0px;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-image: url(../images/Header-The-Witcher-3.jpg);
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.images-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.images-box .images-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(255, 0, 0, 0.7);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.images-box .images-box-caption .images-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.images-box .images-box-caption .images-box-caption-content .image-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.images-box .images-box-caption .images-box-caption-content .image-name {
    font-size: 18px;
}

.images-box:hover .images-box-caption {
    opacity: 1;
    width: 50%;
}

@media(min-width:768px) {
    .images-box .images-box-caption .images-box-caption-content .image-category {
        font-size: 16px;
    }

    .images-box .images-box-caption .images-box-caption-content .image-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

audio {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}